.card-filme {

  display: flex;
  flex-direction: column;
  height: 100%; 
  min-height: 380px; 

  background-color: #0d405a !important; 
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-filme:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-imagem {
  width: 100%;
  height: 280px;
  object-fit: cover;
  flex-shrink: 0;
  min-height: 280px; 
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 0;
}

.card-titulo {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff !important; 
  width: 100%; 
}

.card-botao {
  background-color: #e1b287 !important;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 8px 30px; 
  font-weight: 600;
  margin-top: 0; 
  margin-bottom: 1rem; 
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.card-botao:hover {
  background-color: #f0c299;
}