:root {
  --cor-fundo: #ffffff;
  --cor-azul-escuro: #062f44;
  --cor-dourado: #f0c08f;
  --cor-vermelho: #6b2b2b;
  --texto-principal: #333;
  --texto-secundario: #777;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--texto-principal);
}
